#console-content,
.console-filter-input,
.console-toolbar-btn,
.console-toolbar-btn.active,
.expression-bar input {
    color: var(--dt-text-primary)
}

.console-content-text,
.console-message-wrapper,
.console-table-wrapper {
    max-width: 100%;
    width: 100%
}

#console-content {
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: var(--dt-bg-main)
}

.console-toolbar {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid var(--dt-border-color);
    background-color: var(--dt-bg-toolbar);
    flex-shrink: 0;
    gap: 8px;
    cursor: ns-resize
}

.console-toolbar-btn {
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 6px;
    cursor: pointer;
    line-height: 1
}

.console-toolbar-btn:hover {
    background-color: var(--dt-bg-hover);
    border-color: var(--dt-border-color)
}

.console-toolbar-btn.active {
    background-color: var(--dt-bg-active);
    border-color: var(--dt-text-accent)
}

.console-toolbar-separator {
    width: 1px;
    height: 16px;
    background-color: var(--dt-border-color);
    margin: 0 4px
}

.console-filter-input {
    border: .5px solid var(--dt-border-color);
    padding: 4px 6px;
    flex-grow: 1;
    min-width: 100px;
    cursor: text;
    background-color: var(--dt-bg-main)
}

.console-filter-input:focus {
    outline: 0;
    border-color: var(--dt-text-accent);
    box-shadow: none
}

.expression-bar {
    display: none;
    align-items: center;
    padding: 4px 8px;
    background-color: var(--dt-bg-header);
    border-bottom: 1px solid var(--dt-border-color);
    flex-shrink: 0
}

.console-error-line,
.console-warn-line {
    border-bottom: 1px solid var(--dt-border-light)
}

.expression-bar.show {
    display: flex
}

.expression-bar .icon {
    color: var(--dt-text-accent);
    margin-right: 8px
}

.expression-bar input {
    flex-grow: 1;
    border: none;
    background: 0 0;
    padding: 4px
}

.expression-bar input:focus {
    outline: 0
}

.expression-bar .close-btn {
    cursor: pointer;
    color: var(--dt-text-secondary)
}

#expression-close {
    background: 0 0;
    border: none;
    outline: 0
}

.console-body-wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    font-family: Menlo, Consolas, "Liberation Mono", monospace;
    color: var(--dt-text-primary);
    height: 100%;
    font-size: .85em
}

.console-autocomplete-popup,
.console-line .json-formatter-row {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace
}

.console-sidebar {
    background-color: var(--dt-bg-sidebar);
    border-right: 1px solid var(--dt-border-color);
    flex-shrink: 0
}

.console-sidebar-item.active,
.console-suggestion-item.active {
    background-color: var(--dt-bg-active);
    color: var(--dt-text-primary)
}

.console-log-area {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden
}

.console-active-input-wrapper,
.console-line {
    padding: 2px 4px
}

.console-log-area:after {
    content: '';
    flex-grow: 1
}

.console-line {
    white-space: pre-wrap;
    word-break: break-word;
    user-select: text;
    color: var(--dt-text-primary)
}

.console-input-line {
    color: var(--dt-text-secondary);
    display: flex
}

.console-output-line::before,
.console-prompt {
    color: var(--dt-text-disabled);
    color: var(--dt-text-disabled)
}

.console-prompt {
    margin-right: 5px;
    user-select: text
}

.console-icon,
.console-sidebar.resizing {
    user-select: none
}

.console-input-code {
    flex: 1;
    color: var(--dt-text-secondary)
}

.console-output-line {
    color: var(--dt-syntax-comment);
    display: flex
}

.console-output-line::before {
    content: none;
    content: '<';
    float: left
}

.console-warn-line {
    color: var(--dt-syntax-attr-name);
    background-color: rgba(255, 251, 230, .1)
}

.console-error-line {
    color: var(--dt-syntax-string);
    background-color: rgba(255, 240, 240, .1)
}

.console-active-input,
.console-active-input-wrapper {
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important
}

input:focus,
input:focus-visible {
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important
}

.console-input-row {
    display: flex;
    align-items: flex-start
}

.console-active-input {
    flex-grow: 1;
    white-space: pre-wrap;
    min-height: 1.2em;
    max-height: 150px;
    overflow-y: auto;
    background: 0 0;
    color: var(--dt-text-primary);
    caret-color: var(--dt-text-primary);
    position: relative;
    z-index: 1;
    left: 20px
}

.console-active-input:focus,
.console-active-input:focus-visible {
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important
}

.console-settings-popup {
    position: absolute;
    top: 34px;
    right: 8px;
    background: var(--dt-bg-tooltip);
    border: 1px solid var(--dt-border-color);
    box-shadow: 0 2px 8px var(--dt-shadow);
    z-index: 100;
    padding: 8px;
    border-radius: 4px;
    display: none;
    color: var(--dt-text-primary)
}

.console-settings-popup.show,
.console-sidebar.open {
    display: block
}

.console-settings-popup div {
    margin-bottom: 6px;
    white-space: nowrap
}

.console-settings-popup label {
    cursor: pointer
}

.console-settings-popup input[type=checkbox] {
    margin-right: 6px
}

.console-settings-popup div label {
    display: flex;
    align-items: center
}

.console-line .json-formatter-light {
    background-color: transparent
}

.console-output-line .json-formatter-row {
    margin-left: 0
}

.console-grouped-line {
    display: flex;
    align-items: center;
    gap: 6px
}

.console-group-count {
    font-size: 10px;
    padding: .9px 2.9px;
    margin-left: 50px;
    color: var(--dt-syntax-comment)
}

.console-autocomplete-popup {
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: var(--dt-bg-main);
    border: 1px solid var(--dt-border-color);
    box-shadow: 0 2px 5px var(--dt-shadow);
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    border-radius: 0;
    min-width: 150px;
    color: var(--dt-text-primary)
}

.console-suggestion-item {
    padding: 4px 8px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--dt-text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

.console-suggestion-item .suggestion-left {
    display: flex;
    gap: 5px
}

.console-eager-preview {
    padding-left: 20px;
    font-style: italic;
    color: var(--dt-text-disabled);
    margin-top: 2px;
    display: none
}

.console-eager-preview::before {
    content: '< ';
    color: var(--dt-text-disabled);
    margin-right: 5px
}

.console-block-wrapper {
    padding: 8px 8px 2px;
    border-bottom: 1px solid var(--dt-border-light);
    position: relative;
    display: flex;
    align-items: flex-start;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: inherit;
    justify-content: space-between;
    margin-top: 0
}

.console-block-wrapper:hover {
    background-color: #2445ce0a;
    border-top: 1px solid #2b87ff;
    border-bottom: 1px solid #2b87ff !important
}

.console-table td,
.console-table th {
    color: var(--dt-text-primary) !important;
    border-color: var(--dt-border-light) !important
}

.console-input-line {
    font-weight: 700;
    color: var(--dt-text-primary);
    margin: 4px 0
}

.console-output-line::before {
    content: '\003C';
    margin-right: 8px;
    color: var(--dt-text-disabled);
    margin-top: 2px
}

.console-table {
    margin: 4px 0;
    border: 1px solid var(--dt-border-color);
    background-color: var(--dt-bg-main);
    color: var(--dt-text-primary);
    table-layout: auto
}

.console-table th {
    background-color: var(--dt-bg-header);
    font-weight: 600;
    cursor: default;
    background-color: var(--dt-bg-header) !important
}

.console-table tr:nth-child(2n) {
    background-color: rgba(128, 128, 128, .05)
}

.console-table tr:hover {
    background-color: var(--dt-bg-active)
}

.console-table td:first-child,
.console-table th:first-child {
    color: var(--dt-text-secondary);
    font-style: italic;
    background-color: var(--dt-bg-sidebar)
}

.console-block-wrapper.console-input-line {
    display: block !important;
    position: relative;
    min-height: 18px;
    padding-left: 24px !important
}

.console-block-wrapper.console-input-line::before {
    content: none;
    position: absolute;
    left: 4px;
    top: 4px;
    color: var(--dt-text-accent);
    font-weight: 700;
    pointer-events: none
}

.console-block-wrapper.console-input-line .console-content-text,
.console-input-code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    display: inline-block;
    width: 100%;
    font-family: SFMono-Regular, Consolas, monospace;
    position: relative;
    left: 20px;
    top: 1px
}

.token-keyword {
    color: var(--dt-syntax-tag-name);
    font-weight: 700
}

.dom-console-tag .attr-name,
.dom-console-tree .attr-name,
.token-key {
    color: var(--dt-syntax-attr-name)
}

.token-method {
    color: var(--dt-text-primary);
    text-wrap: nowrap
}

.dom-console-tag .attr-value,
.dom-console-tree .attr-value,
.token-string,
.val-string {
    color: var(--dt-syntax-string)
}

.token-number,
.val-number {
    color: var(--dt-syntax-number)
}

.token-boolean,
.val-boolean {
    color: var(--dt-syntax-boolean);
    font-weight: 700
}

.token-comment {
    color: var(--dt-syntax-comment);
    font-style: italic
}

.token-null,
.val-null {
    color: var(--dt-syntax-null)
}

.dom-console-tag .tag-punctuation,
.dom-console-tree .tag-punctuation,
.token-punct {
    color: var(--dt-text-secondary)
}

.console-input-line .console-content-text,
.console-table {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important
}

.console-block-wrapper.console-input-line::before,
.console-output-line::before {
    content: none !important
}

.console-output-marker {
    display: none !important
}

.console-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0
}

.console-icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor
}

.console-icon.icon-input {
    color: var(--dt-text-accent)
}

.console-icon.icon-output {
    margin-right: 8px;
    color: var(--dt-text-disabled)
}

.console-source-wrapper {
    position: absolute;
    right: 0;
    top: 0
}

.console-source-link {
    color: var(--dt-text-disabled);
    text-decoration: underline;
    cursor: pointer;
    text-wrap: nowrap;
    position: absolute;
    right: 4px;
    top: 0
}

.val-regexp {
    color: #d16969;
    font-family: monospace
}

.console-obj-preview {
    font-style: italic;
    color: var(--dt-text-secondary)
}

.dom-console-tag,
.dom-console-tree {
    color: var(--dt-syntax-tag-name)
}

.console-icon.icon-output {
    color: var(--dt-text-disabled);
    margin-top: 1px
}

.console-table {
    width: 100%;
    margin-bottom: 4px
}

.dom-console-tree {
    word-break: normal
}

.token-regex,
.token-string {
    color: var(--dt-syntax-string) !important
}

.token-number {
    color: var(--dt-syntax-number) !important
}

.token-boolean {
    color: var(--dt-syntax-boolean) !important;
    font-weight: 700
}

.token-null,
.val-null {
    color: var(--dt-syntax-null) !important
}

.token-key {
    color: var(--dt-syntax-key) !important
}

.token-tag {
    color: var(--dt-syntax-tag-name) !important
}

.console-group-count {
    background-color: var(--dt-text-disabled) !important;
    color: #fff !important
}

.console-warn-line {
    background-color: var(--dt-console-warn-background) !important;
    border-bottom: 1px solid rgba(255, 200, 0, .2) !important;
    color: var(--dt-console-warn-color) !important;
    font-weight: 700
}

.console-error-line {
    background-color: var(--dt-console-error-background) !important;
    border-bottom: 1px solid rgba(255, 0, 0, .15) !important;
    color: var(--dt-console-error-color) !important
}

.console-group-header,
.console-log-line {
    border-bottom: 1px solid var(--dt-border-light)
}

.console-log-line {
    color: var(--dt-text-primary)
}

.console-icon.icon-input,
.console-icon.icon-output {
    position: absolute;
    left: 6px;
    top: 1px;
    width: 12px;
    height: 12px
}

.devtool-counter-badge {
    padding: 1px;
    border-radius: 20px;
    background-color: var(--dt-text-disabled);
    color: #fff;
    position: absolute;
    left: 0;
    top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    min-width: 14px;
    height: 14px;
    line-height: 14px;
    z-index: 10
}

.devtool-counter-badge.active {
    display: flex !important
}

.console-sidebar {
    width: 150px;
    height: 100%;
    background-color: var(--dt-bg-sidebar);
    border-right: 1px solid var(--dt-border-color);
    flex-shrink: 0;
    display: none;
    padding-top: 5px;
    position: relative
}

.console-sidebar-item {
    padding: 6px 12px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--dt-text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.console-group-header:hover,
.console-sidebar-item:hover {
    background-color: var(--dt-bg-hover)
}

.console-sidebar-item.active {
    background-color: var(--dt-bg-active);
    color: var(--dt-text-primary);
    font-weight: 500
}

.console-sidebar-count {
    background-color: rgba(128, 128, 128, .2);
    border-radius: 10px;
    padding: 1px 6px;
    color: var(--dt-text-secondary)
}

#sb-errors .console-sidebar-count {
    background-color: rgba(255, 0, 0, .15);
    color: var(--dt-syntax-string)
}

#sb-warnings .console-sidebar-count {
    background-color: rgba(255, 200, 0, .15);
    color: var(--dt-syntax-attr-name)
}

.console-sidebar-resizer {
    position: absolute;
    top: 0;
    right: -2px;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
    background: 0 0
}

.console-sidebar-resizer:hover,
.console-sidebar.resizing .console-sidebar-resizer {
    background-color: var(--dt-text-accent)
}

.console-in-group .console-message-wrapper {
    border-left: 1px dashed #b8b8b8 !important
}

.console-table-wrapper {
    margin-bottom: 4px;
    overflow-x: auto;
    padding-bottom: 8px;
    -webkit-overflow-scrolling: touch
}

.console-table {
    border-collapse: collapse;
    background-color: var(--dt-bg-main);
    color: var(--dt-text-primary);
    table-layout: auto;
    white-space: nowrap
}

.console-table td,
.console-table th {
    border: 1px solid var(--dt-border-color);
    padding: 4px 8px;
    text-align: left
}

.console-content-text {
    margin-left: 15px;
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.console-table-wrapper::-webkit-scrollbar {
    height: 6px
}

.console-table-wrapper::-webkit-scrollbar-track {
    background: var(--dt-bg-main)
}

.console-table-wrapper::-webkit-scrollbar-thumb {
    background: var(--dt-border-light);
    border-radius: 4px
}

.console-table-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--dt-text-secondary)
}

.console-group-wrapper {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%
}

.console-group-header {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    padding: 4px 8px;
    user-select: none;
    background-color: var(--dt-bg-main);
    position: relative
}

.group-arrow {
    font-size: 10px;
    margin-right: 6px;
    margin-top: 3px;
    transition: transform .1s;
    color: var(--dt-text-secondary)
}

.console-group-title {
    flex-grow: 1;
    color: var(--dt-text-primary);
    font-family: SFMono-Regular, Consolas, monospace
}

.console-group-content {
    margin-left: 12px;
    padding-left: 8px;
    border-left: .4px solid var(--dt-border-light)
}

.console-group-wrapper:hover>.console-group-content {
    border-left: .5px solid var(--dt-text-secondary)
}